* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;
  background-color: #58A8B8;
}

.labirinth {
  width: 800px;
  height: 800px;

  border: 1px solid black;
  border-collapse: collapse;
}

.labirinth td {
  border: 1px solid black;
}

.wall {
  background-color: #292929;
}

.blank {
  background-color: white;
}

.path {
  background-color: #2C8C99;
}

.start {
  background-color: green;
}

.finish {
  background-color: red;
}
